html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    height: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------------------CSS RESET-------------------------------------------*/
html, body, .container-fluid, row {
    height: 100%;
    width: 100%;
    font-family: "Comic Sans MS";
    background-color: #003366;
}

.homeScreen {
    height: 100%;
    display: block;
    width: 100%;
    background: url("images/lamp3.jpg") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.name {
    color: white;
    text-shadow: 0 0 20px pink;
}

.link {
    color: plum;
    font-weight: bolder;
    font-size: 160%;
}

.homePageFirst {
    width: 100%;
    height: 100%;
}

.homePageSecond {
    width: 100%;
    height: 100%;
}

.h1_1, .h2_1 {
    margin-bottom: 1%;
    font-weight: bolder;
}

.h1_1 {
    color: white;
}

.h2_1 {
    margin-top: 4%;
    text-align: left;
    font-size: 1.3em;
    color: deeppink;
    /*text-shadow: 0 0 10px white;*/
}

.homePageDesc {
    padding-top: 5%;
    color: white;
    text-align: justify;
    font-size: 1.1em;
}

.profilePhoto {
    margin-top: 15%;
    border: 1px solid white;
}

.foot_icon {
    height: 12%;
    width: 10%;
    margin-top: 13%;
    margin-left: 15%;
    text-decoration: none;
}

.foot_icon:hover {
    background: white;
}

/*home*/
.home {
    height: 100%;
    width: 100%;
}

.skillFirst {
    color: white;
    height: 100%;
    width: 100%;
}

.skillsBackground {
    background: url("images/htmlback.jpg") center;
    height: 100px;
    width: 100%;
    opacity: 0.5;
}

.skills {
    color: white;
    margin-top: 5%;
}

.skillSecond {
    color: plum;
    margin-top: 10%;
}

.uni {
    color: white;
}

.projectTile {
    margin-top: 5%;
    height: 160px;
    width: 250px;
}

.projectTile:hover {

}

.msgArea {
    margin-top: 5%;
    height: 250px;
    width: 70%;
    padding: 1%;
}

/*image flip*/
/* entire container, keeps perspective */
.flip-container {
    perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 250px;
    height: 160px;
    display: inline-block;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
    transform: rotateY(180deg);
}

.backText {
    background: deepskyblue;
    color: white;
    margin-top: 5%;
    padding: 2%;
    height: 100%;
}
.projName{
    color: beige;
    font-weight: bold;
}
.tech{
    font-size:0.8em;
}
#projModal{
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: auto; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}
.projectPage{
    position: absolute;
    width: 80%;
}
.modal-content{
    margin:5%;
}